li {
  float: left;
  width: 20%;
  height:500px;
}

li img {
  width: 60%;
  height:60%;
  padding: 10px;
  border: 2px solid #ccc;
}

li .read-time {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: red;
  width: 70px;
  margin-top: -50px;
  margin-left: 100px;
  text-align: center;
  font-family: sans-serif;
  font-size: 150%;
  opacity: 0.7;
}
