li {
  float: left;
  width: 20%;
  height:500px;
}

li img {
  width: 60%;
  height:60%;
  padding: 10px;
  border: 2px solid #ccc;
}

li .read-time {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: red;
  width: 70px;
  margin-top: -50px;
  margin-left: 100px;
  text-align: center;
  font-family: sans-serif;
  font-size: 150%;
  opacity: 0.7;
}

body {
    font-family:Arial,Helvetica,sans-serif;
    margin:0px;
}

#banner {
    height:50px;
    width:100%;
    background:#E9F4E9;
}
#nav {
    position:relative;
    top:24px;
    float:left;
    margin-left:40px;
}
#nav .inactive:hover{
    background:#F5F5EB;
}

#nav div{
    width:200px;
    font-size:22px;
    margin-right:10px;
    text-align:center;
    display:inline-block;
}

#nav div:hover{
	cursor:pointer;
}

#nav .active {
    background:#FFF;
}

#content {
    padding-top:50px;
}
#thoughtworker_du{
    margin:20px;
    padding-right:70px;
    display:inline-block;
    float:right;
}