.hide {
    display: none;
}

#colleagues_container {
    margin-top: -20px;
}

.colleagues_tabs {
    height: 50px;
    border-bottom: 1px solid;
    margin-bottom: 40px;
}

.colleague_tab {
    font-size: 14px;
    color: #7a8d5d;
    float: left;
    padding: 4px 8px;
}

.colleagues_tabs .selected {
    background-color: #7a8d5d;
    color: #ffffff;
    border-radius: 3px;
}

#colleagues_container .colleague-box {
    width: 268px;
    height: 190px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

#colleagues_container .colleague-avatar {
    background-color: white;
    box-shadow: 0 0 3px #d0d0d0;
    border-bottom: 1px solid;
    padding-bottom: 3px;
}

#colleagues_container .colleague-avatar .avatar {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 2px;
}

#colleagues_container .colleague-avatar .name {
    float: left;
    position: absolute;
    padding-top: 7px;
    padding-left: 10px;
    font-size: 17px;
}

#colleagues_container .colleague-avatar .quantity {
    font-size: 30px;
    padding-left: 6px;
    display: inline-block;
}

#colleagues_container .colleague-avatar .unit {
    font-size: 10px;
    display: inline-block;
    margin-left: -5px;
}

#colleagues_container .colleagues-books {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 3px #d0d0d0;
    margin: 0 30px 35px 0;
    padding-bottom: 6px;
    padding-top: 11px;
    text-align: center;
}

#colleagues_container .colleagues-books .book {
    display: inline-block;
    padding: 5px 5px 5px 5px;
}

