#person-info {
    border-bottom: 1px #ccc solid;
    padding-left: 25px;
    height: 55px;
    margin-top: 85px;
}

#person-info .avatar {
    display: inline-block;
    margin-top: -57px;
    height: 90px;
    width: 90px;
    background-size: 100%;
    border: 3px solid white;
    float: left;
}

#person-info .name {
    display: inline-block;
    padding-left: 17px;
    float: left;
    margin-top: 19px;
    color: #666;
}

#person-tabs-and-books {
    border-top: 1px solid white;
}

#person-tag-tabs-container {
    display: inline-block;
    margin-left: -22px;
    padding-top: 5px;
    float: left;
}

#person-tag-tabs-container ul {
    margin-top: 7px;
}

#person-tag-tabs-container .selected {
    background-color: #7a8d5d;
    color: #ffffff;
    border-radius: 3px;
}

#person-tag-tabs-container .person-tag-tab {
    padding-top: 10px;
}

#person-tag-tabs-container .person-tag-tab .tag_tab {
    padding: 6px 10px;
}

.person-tag-tab .number {
    padding-left: 100px;
}

#person-books-container {
    margin-left: 220px;
    padding-left: 16px;
    border-left: 1px #ccc solid;
}

#person-books-container .book {
    display: inline-block;
    height: 250px;
    width: 185px;
    margin: 15px 18px 70px 18px;
}

#person-books-container .book .rating {
    text-align: center;
    margin-top: -60px;
    margin-left: 30px;
    color: #666;

}

#person-books-container .book .rating .rate {
    font-weight: bold;
}

#person-books-container .book .rating .number-of-rater {
    color: #37a;
}

#person-books-container .book img {
    background-size: 100%;
}