#person-info {
    border-bottom: 1px #ccc solid;
    padding-left: 25px;
    height: 40px;
    margin-top: 75px;
}


#person-info .avatar {
    /*background-image:url('http://img3.douban.com/icon/u3420987-6.jpg');*/
    display: inline-block;
    margin-top: -57px;
    height: 80px;
    width: 80px;
    background-size: 100%;
    border: 3px solid white;
    float: left;
}

#person-info .name {
    display: inline-block;
    padding-left: 12px;
    float: left;
    margin-top: 7px;
    color: #666;
}

#person-tabs-and-books {
    border-top: 1px solid white;
    margin-bottom: -30px;
}

#person-tag-tabs-container {
    border-right: 1px #ccc solid;
    display: inline-block;
    padding-right: 10px;
    margin-left: -26px;
}

#person-tag-tabs-container ul {
    margin-top: 7px;
}

#person-tag-tabs-container .selected {
    background-color: #7a8d5d;
    color: #ffffff;
    border-radius: 3px;
}

#person-tag-tabs-container .person-tag-tab {
    padding-top: 10px;
}

#person-tag-tabs-container .person-tag-tab .tag_tab {
    padding: 6px 10px;
}

.person-tag-tab .number {
    padding-left: 100px;
}

#person-books-container {
    padding-left: 17px;
    display: inline-block;
}